body {
  background-color: #E5F3F4;
  font-family: 'Roboto Condensed', sans-serif;
}
#hero {
  color: #37BECC;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Baloo Chettan', cursive;
}

#container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
